/design_patterns/lab/build/
/design_patterns/lab/dist/
/design_patterns/WebApplication1/nbproject/private/
/design_patterns/WebApplication1/build/
/design_patterns/CppApplication_1/build/
/design_patterns/CppApplication_1/dist/
/design_patterns/Webservice/nbproject/private/
/design_patterns/Webservice/build/
/design_patterns/Product/nbproject/private/
/design_patterns/Product/build/
/design_patterns/JME/nbproject/private/
/design_patterns/JME/build/